body {
    font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.header {
    height: 55px;
    background-color: #428bca;  
    border-bottom: solid;
}

.welcome {
    position: absolute;
    color: white;
    left: 2%;
    margin-top: 15px;
}

.header-content {
    position: absolute;
    right: 2%;
    margin-top: 10px;
}

.content {
    margin: 2%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #428bca;
}