body {
    font-family: Gill Sans / Gill Sans MT, sans-serif;
}

.navbar {
    /*background-color: #428bca;*/
    border-bottom: solid;
    border-color: #bcbcbc;
}

.content {
    margin: 2%;
}

.QOTD {
    font-family: "Goudy Old Style",Garamond,"Big Caslon","Times New Roman",serif;
    font-style: italic;
    font-size: medium;
    margin-left: 2%;
}

.footer {
    background-color: #428bca;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: solid;
    border-color: #bcbcbc;
    z-index: 1;
}

#footertext {
    color: white;
    margin-top: 5px;
}